.devcontainer

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
!coverage.go
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/
.zed/

# go files
go.sum
mooch-serv

# Local build output
bin/

# Local client build output
Client/mooch-node
Client/mooch-node-dev

# Local server build output
server/dist/
server/mooch-central

mooch-node.yaml
